
/* .container {
  height:120px;
  width:600px;
  margin:auto;
  position:absolute;
  top:0;bottom:0;left:0;right:0;
} */

.flip-container {
  perspective: 1000;
  float: left;
  cursor:pointer;
}
  .flippable {
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
  }

  .flipme {
    transform: rotateY(180deg);
  }
  


/* .flip-container, .front, .back {

} */

.front, .back {
	backface-visibility: hidden;
}


.front {
  z-index: 2;
  color: white;
}
  /* span{
    top:-30px;
    left:10px;
    font-family:verdana;
  } */

.back {
  transform: rotateY(180deg);
  font-size: 18px;
  font-family: Verdana;
  color: white;
}


